In [62]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import sklearn

In [63]:
from sklearn.preprocessing import LabelEncoder

In [64]:
df = pd.read_csv("CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [65]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [66]:
df['car_ID'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205], dtype=int64)

In [67]:
df.drop("car_ID",axis=1,inplace=True)

In [68]:
df.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [69]:
df['symboling'].unique()

array([ 3,  1,  2,  0, -1, -2], dtype=int64)

In [70]:
len(df['CarName'].unique())

147

In [71]:
df.drop('CarName',axis=1, inplace=True)

In [72]:
df['fueltype'].unique()

array(['gas', 'diesel'], dtype=object)

In [73]:
#one hot encoding
fuel = pd.get_dummies(df['fueltype'], prefix = 'fueltype' ,drop_first=True)
type(fuel)

pandas.core.frame.DataFrame

In [74]:
fuel

     fueltype_gas
0               1
1               1
2               1
3               1
4               1
..            ...
200             1
201             1
202             1
203             0
204             1

[205 rows x 1 columns]

In [75]:
df = pd.concat((df,fuel),axis=1)

In [76]:

df.drop('fueltype',axis=1,inplace=True)
df.head()

,symboling,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,fueltype_gas
0,3,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,1
1,3,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,1
2,1,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,1
3,2,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,1
4,2,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,1

In [77]:
df['aspiration'].unique()

array(['std', 'turbo'], dtype=object)

In [78]:
#One hot encoding of aspiration
aspi = pd.get_dummies(df['aspiration'], prefix = 'aspiration' ,drop_first=True)
df = pd.concat((df,aspi),axis=1)
df.drop('aspiration',axis=1,inplace=True)
df.head()

,symboling,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo
0,3,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,...,3.47,2.68,9.0,111,5000,21,27,13495.0,1,0
1,3,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,...,3.47,2.68,9.0,111,5000,21,27,16500.0,1,0
2,1,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,...,2.68,3.47,9.0,154,5000,19,26,16500.0,1,0
3,2,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,...,3.19,3.40,10.0,102,5500,24,30,13950.0,1,0
4,2,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,...,3.19,3.40,8.0,115,5500,18,22,17450.0,1,0

In [79]:
df['doornumber'].unique()

array(['two', 'four'], dtype=object)

In [80]:
#one hot encdoing of doornumber
door = pd.get_dummies(df['doornumber'], prefix = 'doornumber' ,drop_first=True)
df = pd.concat((df,door),axis=1)
df.drop('doornumber',axis=1,inplace=True)
df.head()

,symboling,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two
0,3,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,...,2.68,9.0,111,5000,21,27,13495.0,1,0,1
1,3,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,...,2.68,9.0,111,5000,21,27,16500.0,1,0,1
2,1,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,...,3.47,9.0,154,5000,19,26,16500.0,1,0,1
3,2,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,...,3.40,10.0,102,5500,24,30,13950.0,1,0,0
4,2,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,...,3.40,8.0,115,5500,18,22,17450.0,1,0,0

In [81]:
df['carbody'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [82]:
la = LabelEncoder()

In [83]:
df['carbody'] = la.fit_transform(df['carbody'])

In [84]:
df.head()

,symboling,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,...,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two
0,3,0,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,...,2.68,9.0,111,5000,21,27,13495.0,1,0,1
1,3,0,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,...,2.68,9.0,111,5000,21,27,16500.0,1,0,1
2,1,2,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,...,3.47,9.0,154,5000,19,26,16500.0,1,0,1
3,2,3,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,...,3.40,10.0,102,5500,24,30,13950.0,1,0,0
4,2,3,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,...,3.40,8.0,115,5500,18,22,17450.0,1,0,0

In [85]:
df['drivewheel'].unique()

array(['rwd', 'fwd', '4wd'], dtype=object)

In [86]:
#one hot encdoing of drivewheel
drivewheel = pd.get_dummies(df['drivewheel'], prefix = 'drivewheel' ,drop_first=True)
df = pd.concat((df,drivewheel),axis=1)
df.drop('drivewheel',axis=1,inplace=True)
df.head()

,symboling,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,...,horsepower,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd
0,3,0,front,88.6,168.8,64.1,48.8,2548,dohc,four,...,111,5000,21,27,13495.0,1,0,1,0,1
1,3,0,front,88.6,168.8,64.1,48.8,2548,dohc,four,...,111,5000,21,27,16500.0,1,0,1,0,1
2,1,2,front,94.5,171.2,65.5,52.4,2823,ohcv,six,...,154,5000,19,26,16500.0,1,0,1,0,1
3,2,3,front,99.8,176.6,66.2,54.3,2337,ohc,four,...,102,5500,24,30,13950.0,1,0,0,1,0
4,2,3,front,99.4,176.6,66.4,54.3,2824,ohc,five,...,115,5500,18,22,17450.0,1,0,0,0,0

In [87]:
df['enginelocation'].unique()

array(['front', 'rear'], dtype=object)

In [88]:
#one hot encdoing of drivewheel
el= pd.get_dummies(df['enginelocation'], prefix = 'enginelocation', drop_first=True)    
df = pd.concat((df,el),axis=1)
df.drop('enginelocation',axis=1,inplace=True)
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,...,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,2548,dohc,four,130,...,5000,21,27,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,2548,dohc,four,130,...,5000,21,27,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,2823,ohcv,six,152,...,5000,19,26,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2337,ohc,four,109,...,5500,24,30,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,2824,ohc,five,136,...,5500,18,22,17450.0,1,0,0,0,0,0

In [89]:
df['enginetype'].unique()

array(['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv'], dtype=object)

In [90]:
df['enginetype'] = la.fit_transform(df['enginetype'])
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,...,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,2548,0,four,130,...,5000,21,27,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,2548,0,four,130,...,5000,21,27,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,2823,5,six,152,...,5000,19,26,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2337,3,four,109,...,5500,24,30,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,2824,3,five,136,...,5500,18,22,17450.0,1,0,0,0,0,0

In [91]:
df['cylindernumber'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [92]:
df['cylindernumber'] = la.fit_transform(df['cylindernumber'])
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,...,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,2548,0,2,130,...,5000,21,27,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,2548,0,2,130,...,5000,21,27,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,2823,5,3,152,...,5000,19,26,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2337,3,2,109,...,5500,24,30,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,2824,3,1,136,...,5500,18,22,17450.0,1,0,0,0,0,0

In [93]:
df.columns

Index(['symboling', 'carbody', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price', 'fueltype_gas',
       'aspiration_turbo', 'doornumber_two', 'drivewheel_fwd',
       'drivewheel_rwd', 'enginelocation_rear'],
      dtype='object')

In [94]:
df.drop('enginesize',axis=1 ,inplace=True)
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,fuelsystem,...,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,2548,0,2,mpfi,...,5000,21,27,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,2548,0,2,mpfi,...,5000,21,27,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,2823,5,3,mpfi,...,5000,19,26,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2337,3,2,mpfi,...,5500,24,30,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,2824,3,1,mpfi,...,5500,18,22,17450.0,1,0,0,0,0,0

In [95]:
df['fuelsystem'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)

In [96]:
df['fuelsystem'] = la.fit_transform(df['fuelsystem'])
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,fuelsystem,...,peakrpm,citympg,highwaympg,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,2548,0,2,5,...,5000,21,27,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,2548,0,2,5,...,5000,21,27,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,2823,5,3,5,...,5000,19,26,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2337,3,2,5,...,5500,24,30,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,2824,3,1,5,...,5500,18,22,17450.0,1,0,0,0,0,0

In [97]:
df.drop(['boreratio','stroke','compressionratio','peakrpm', 'citympg', 'highwaympg'],axis=1,inplace=True)

In [98]:
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,fuelsystem,horsepower,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,2548,0,2,5,111,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,2548,0,2,5,111,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,2823,5,3,5,154,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2337,3,2,5,102,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,2824,3,1,5,115,17450.0,1,0,0,0,0,0

In [99]:
df['horsepower'].unique()

array([111, 154, 102, 115, 110, 140, 160, 101, 121, 182,  48,  70,  68,
        88, 145,  58,  76,  60,  86, 100,  78,  90, 176, 262, 135,  84,
        64, 120,  72, 123, 155, 184, 175, 116,  69,  55,  97, 152, 200,
        95, 142, 143, 207, 288,  73,  82,  94,  62,  56, 112,  92, 161,
       156,  52,  85, 114, 162, 134, 106], dtype=int64)

In [100]:
df.drop('horsepower',axis=True,inplace=True)

In [101]:
set(df['curbweight'].unique())

{1488,
 1713,
 1819,
 1837,
 1874,
 1876,
 1889,
 1890,
 1900,
 1905,
 1909,
 1918,
 1938,
 1940,
 1944,
 1945,
 1950,
 1951,
 1956,
 1967,
 1971,
 1985,
 1989,
 2004,
 2008,
 2010,
 2015,
 2017,
 2024,
 2028,
 2037,
 2040,
 2050,
 2081,
 2094,
 2109,
 2120,
 2122,
 2128,
 2140,
 2145,
 2169,
 2190,
 2191,
 2204,
 2209,
 2212,
 2221,
 2236,
 2240,
 2254,
 2261,
 2264,
 2265,
 2275,
 2280,
 2289,
 2290,
 2293,
 2300,
 2302,
 2304,
 2319,
 2324,
 2326,
 2328,
 2337,
 2340,
 2365,
 2370,
 2372,
 2380,
 2385,
 2395,
 2403,
 2405,
 2410,
 2414,
 2420,
 2425,
 2443,
 2455,
 2458,
 2460,
 2465,
 2480,
 2500,
 2507,
 2510,
 2535,
 2536,
 2540,
 2548,
 2551,
 2563,
 2579,
 2650,
 2658,
 2661,
 2670,
 2679,
 2695,
 2700,
 2707,
 2710,
 2714,
 2734,
 2756,
 2758,
 2765,
 2778,
 2800,
 2808,
 2811,
 2818,
 2823,
 2824,
 2833,
 2844,
 2847,
 2910,
 2912,
 2921,
 2926,
 2935,
 2952,
 2954,
 2975,
 2976,
 3012,
 3016,
 3020,
 3034,
 3042,
 3045,
 3049,
 3053,
 3055,
 3060,
 3062,
 3071,
 3075,
 3086,
 3095,
 3110,
 3130,
 3131,
 3139,
 3151,
 3157,
 3197,
 3217,
 3230,
 3252,
 3285,
 3296,
 3366,
 3380,
 3430,
 3485,
 3495,
 3505,
 3515,
 3685,
 3715,
 3740,
 3750,
 3770,
 3900,
 3950,
 4066}

In [102]:
df['curbweight'][df['curbweight']>3000]=0
df['curbweight'][df['curbweight']>2500]=1
df['curbweight'][df['curbweight']>2000]=2
df['curbweight'][df['curbweight']>1500]=3

C:\Users\HP\AppData\Local\Temp/ipykernel_7244/3426478024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['curbweight'][df['curbweight']>3000]=0
C:\Users\HP\AppData\Local\Temp/ipykernel_7244/3426478024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['curbweight'][df['curbweight']>2500]=1
C:\Users\HP\AppData\Local\Temp/ipykernel_7244/3426478024.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['curbweight'][df['curbweight']>2000]=2
C:\Users\HP\AppData\Local\Temp/ipykernel_7244/3426478024.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['curbweight'][df['curbweight']>1500]=3

In [103]:
df.head()

,symboling,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,fuelsystem,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,88.6,168.8,64.1,48.8,1,0,2,5,13495.0,1,0,1,0,1,0
1,3,0,88.6,168.8,64.1,48.8,1,0,2,5,16500.0,1,0,1,0,1,0
2,1,2,94.5,171.2,65.5,52.4,1,5,3,5,16500.0,1,0,1,0,1,0
3,2,3,99.8,176.6,66.2,54.3,2,3,2,5,13950.0,1,0,0,1,0,0
4,2,3,99.4,176.6,66.4,54.3,1,3,1,5,17450.0,1,0,0,0,0,0

In [104]:
df.drop(['wheelbase','carlength','carwidth','carheight'],axis=True , inplace=True)

In [105]:
df.head()

,symboling,carbody,curbweight,enginetype,cylindernumber,fuelsystem,price,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,1,0,2,5,13495.0,1,0,1,0,1,0
1,3,0,1,0,2,5,16500.0,1,0,1,0,1,0
2,1,2,1,5,3,5,16500.0,1,0,1,0,1,0
3,2,3,2,3,2,5,13950.0,1,0,0,1,0,0
4,2,3,1,3,1,5,17450.0,1,0,0,0,0,0

In [106]:
X = df.drop("price",axis=1)

In [107]:
X

,symboling,carbody,curbweight,enginetype,cylindernumber,fuelsystem,fueltype_gas,aspiration_turbo,doornumber_two,drivewheel_fwd,drivewheel_rwd,enginelocation_rear
0,3,0,1,0,2,5,1,0,1,0,1,0
1,3,0,1,0,2,5,1,0,1,0,1,0
2,1,2,1,5,3,5,1,0,1,0,1,0
3,2,3,2,3,2,5,1,0,0,1,0,0
4,2,3,1,3,1,5,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,3,1,3,2,5,1,0,0,0,1,0
201,-1,3,0,3,2,5,1,1,0,0,1,0
202,-1,3,0,5,3,5,1,0,0,0,1,0
203,-1,3,0,3,3,3,0,1,0,0,1,0
204,-1,3,0,3,2,5,1,1,0,0,1,0

In [108]:
y= df['price']

In [109]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [110]:
sc = StandardScaler()

In [111]:
X_scale = sc.fit_transform(X)

In [112]:
x_train, x_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.2 , random_state=322)

In [113]:
liner_model = LinearRegression()

In [114]:
liner_model.fit(x_train,y_train)

LinearRegression()

In [115]:
liner_model.score(x_test, y_test)

0.482712907798335

In [116]:
liner_model.score(x_train,y_train)

0.5824580258372842

In [117]:
import pickle

In [118]:
file = open('liner_model.pkl', 'wb')
pickle.dump(liner_model, file)